<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel" style="text-align:left;"><strong>New Workspace</strong></h4>
    <button type="button" class="close" style="text-align:left;" aria-label= "close" data-dismiss="modal">X</button>
</div>

<%= render 'form' %>